################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pixoo/bin/Debug/net9.0
/Pixoo/obj
/Pixoo16Lib/bin/Debug/net9.0
/Pixoo16Lib/obj
